[submodule "submodules/cimgui"]
	path = submodules/cimgui
	url = https://github.com/Extrawurst/cimgui.git
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "submodules/DerelictImgui"]
	path = submodules/DerelictImgui
	url = https://github.com/Extrawurst/DerelictImgui
